#background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

#backgroundPic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -500;
}

#gameQ {
  position: absolute;
  left: 12%;
  height: 60%;
  top: 20%;
  width: 20%;
  border-radius: 40px;
}

.playQ {
  position: absolute;
  width: 100%;
  height: 25%;
  border-width: 12px;
  border: solid;
  border-color: black;
  z-index: 2;
}

#playOne {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  top: 0%;
  background: #d3d3d3;
}

#playTwo {
  top: 25%;
  background: #d3d3d3;
}

#playThree {
  top: 50%;
  background: #d3d3d3;
}

#playFour {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  top: 75%;
  background: #d3d3d3;
}

#sendGame {
  position: absolute;
  display: none;
  height: 80px;
  width: 160px;
  border-radius: 40px;
  background-color: #77dd77;
  border: solid;
  border: 2px;
  opacity: 0.8;
  top: 45%;
  left: 33%;
}

#sendGame:hover {
  opacity: 1.0;
}

.playUserQ {
  width: 100%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -20%;
}
